body, html {
    font-size: 16px;
    width: 100%;
    background:linear-gradient(#DB49BD,#8A54EA, #B54ED3) no-repeat center center;
    background-size: cover;
    color: #ffffff;

}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.top {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.top h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    font-kerning: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;

}
span {
    text-transform: initial;
}

.top h4 {
    font-family: 'Nunito', sans-serif;
    font-size: .85em;
    letter-spacing: .1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}
.forms {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.forms input {
    width: 75%;
    height: 25px;
    border:none;
    font-family: 'Nunito', sans-serif;
    color: rgba(0,0,0,.8);
    padding-left: 5px;
    border-left: .2em;
    font-size: .8em;
    font-weight: 100;
    /* font: 400 12px system-ui; */

}


#search {
    width: 15%;
    height:27px;
    border: 1px solid white;
    
background: url(../img/search_icon.png) no-repeat center center;
background-size: 30%;
}
.content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 500px;
    

}

.embeded_code input {
    width: 100%;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    color: rgba(0,0,0,.5);
    font-size: .7em;
    border-radius: .2em;
    border: rgba(0,0,0,.5) dotted 1px;
    margin-bottom: 10px;
}

#next {
    display: none;
    background: #02E6CB;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    padding: 8px;
    font-kerning: auto;
    border: none;
    border-radius: .2em;
}



