 html {
    font-size: 16px;
    width: 100%;
    background:linear-gradient(#DB49BD,#8A54EA, #B54ED3) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    margin: 0px;

}

.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.top {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.top h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    font-kerning: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;

}
span {
    text-transform: initial;
}

.top h4 {
    font-family: 'Nunito', sans-serif;
    font-size: .85em;
    letter-spacing: .1em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}
.forms {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.forms input {
    width: 75%;
    height: 25px;
    border:none;
    font-family: 'Nunito', sans-serif;
    color: rgba(0,0,0,.8);
    padding-left: 5px;
    font-size: .85em;
    font-weight: 100;
    border: 1px solid white;

}


#search {
    width: 15%;
    height:29px;
    border: 1px solid white;
    
background: url(../img/search_icon.png) no-repeat center center;
background-size: 30%;
}
.content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 500px;
    width: 80%;
    

}
.content_img {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px;
    width: 100%;

}
/* .content_img img {
    width: 30%;
} */
.embeded_code input {
    width: 100%;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    color: rgba(0,0,0,.5);
    font-size: .9em;
    border-radius: .2em;
    border: rgba(0,0,0,.5) dotted 1px;
    margin-bottom: 10px;
}

#next {
    display: none;
    background: #02E6CB;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    padding: 8px;
    font-kerning: auto;
    border: none;
    border-radius: .2em;
}

[data-tip] {
position:relative;
}

[data-tip]:before {
content: '';
display: none;
position:absolute;
top:30px;
right:35px;
z-index: 8;
font-size:0;
line-height:0;
width:0;
height:0;
}

[data-tip]:after {
	background: rgba(0,0,0,.5);
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: -25px;
    left: 151px;
    padding: 5px 8px;
    color: #fff;
    z-index: 9;
    font-family: 'Nunito', sans-serif;
    font-size: 0.7em;
    /* height: 18px; */
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
    border: coral 1px solid;
}


[data-tip]:hover:before,
[data-tip]:hover:after {
display:block;
}


